[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
datetime = "*"
tiingo = "*"
python-dotenv = "*"
torch = "*"
transformers = "*"

[dev-packages]

[requires]
python_version = "3.11"
